<html>
<head>
  <title>5 day weather for the sprawling metropolis of Dubbo, Australia</title>
  <link rel="stylesheet" type="text/css" href="/dist/spectre.min.css">
</head>
  <body>

  <div id="js-main"></div>

  <%- body %>

  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
